<div> 
    <div> 
        <h1> Regenstatistik </h1>
        <canvas #myCanvas width="500" height="400"></canvas>
    </div>  
    <div> 
        <h1> Temperaturstatistik </h1>
        <canvas #myCanvas width="500" height="400"></canvas>
    </div>  
</div>
<div>
    <div> 
        <h1> Luftdruckstatistik </h1>
        <canvas #myCanvas width="500" height="400"></canvas>
    </div>  
    <div> 
        <h1> Luftfeuchtigkeitsstatistik </h1>
        <canvas #myCanvas width="500" height="400"></canvas>
    </div>
</div>