<div class="body">
  <div class="sensor-container">
      <div *ngFor="let sensor of sensorsData" class="sensor-data" (click)="openDialog(sensor)">
        <app-sensor-data-container 
          [sensorname]="sensor.sensor"
          [temperatur]="sensor.temperature"
          [luftfeuchte]="sensor.humidity"
          [luftdruck]="sensor.air_pressure"
          [regen]="sensor.regen === 1"
          [zeit]="sensor.zeit"
          >
        </app-sensor-data-container>
      </div>
  </div>
    
  <div *ngIf="sensorsData.length === 0">
    <p>Lade Sensordaten...</p>
  </div>

</div>